form(method="post" action = "/sendTransaction")
    input(type="text" name="senderName")

    input(type="text" name="userToken")
    input(type="text" name="userEth")
    input(type="text" name="transaction")

      
    input(type="submit" value="Submit")
